body{
    background-color: rgb(85, 22, 77);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color:black;
    text-align: left;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-align: center;

}

p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-align: center;
    
}

img{
    max-width: 100%;
    height: auto;
    
}